header{
	background-color:#3498DB;
	color: #F2F3F4;
	float:center;
	border: 1px solid grey;
}

body{
	background-color:#D6EAF8;
}

footer{
	text-align:center;
	background-color: #3498DB;
	margin-top: 3%;
	padding: 3%;
}

#buscador{
	padding: 2%;	
}

#menu{
	margin-top:4%;
}

.registro{
	background-color:#AED6F1;
	width: 290px;
	border: 1px solid #85C1E9;
	padding: 2%;
	margin: auto;
	margin-top: 10%;
}

#black{
	color:black;
}

.precio{
	text-align:center;
}

.cajaproducto{
	width: 400px;
	border: 2px solid #85C1E9;
	margin:1%;
}

#menu li{
	float:left;
}

.datos{
	margin-left:1%;
}

.precio{
	margin-bottom:1%;
	color: #E67E22;
}

#cajaproducto_linea1{
	text-align:center;
	padding-top:2%;
} 

.producto{
	display: block:
}

img{
	display:block;
	margin: 0 auto;
}

#boton_chat{
	float:right;
	margin-right: 13%;
}

.centrarbotones{
	margin-top:2%;
	margin-bottom:2%;
	margin-left:25%;
}

.input_espaciado{
	margin-bottom:2%;
}